<h2>Container: {{ container }}</h2>
<img src="{{ container.photo.url }}" alt="{{ container.name }}" width="200">
<h3>Contents:</h3>
{% if container.stored_items or container.stored_containers%}
    {% for item in container.stored_items.all %}
        <li>
            <a href="{% url 'inventory:item_detail' item.id %}">{{ item.name }}</a>
            {% if item.photo %}
                <br/><img src="{{ item.photo.url }}" alt="{{ item.name }}" width="200">
            {% endif %}    
        </li>
    {% endfor %}
    {% for container in container.stored_containers.all %}
        <li>
            <a href="{% url 'inventory:container_detail' container.id %}">{{ container.name }}</a>
            {% if container.photo %}
                <br/><img src="{{ container.photo.url }}" alt="{{ container.name }}" width="200">
            {% endif %}    
        </li>
    {% endfor %}
{% else %}
    <p>No items in container</p>
{% endif %}
<h3>Stored in:</h3>
{% if container.container %}
    <li>Container <a href="{% url 'inventory:container_detail' container.container.id %}">{{ container.container.name }}</a></li>
{% else %}
    <li>Not in a container</li>
{% endif %}

<br/>
<a href="{% url 'inventory:index' %}">Home</a>