{% extends 'inventory/base.html' %}
{% block content %}

<div class="container">
    <h1>Home Inventory</h1>

    <a href="{% url 'inventory:new_item' %}">Create new item</a><br />
    <a href="{% url 'inventory:new_container' %}">Create new container</a>
</div>



<div class="container">
    <h2>Items</h2>
    {% if item_list %}
    <div class="row">
        <div class="card-columns ">
            {% for item in item_list %}
            <div class="card">
                {% if item.photo %}
                <img class="card-img-top" src="{{ item.photo.url }}" alt="{{ item.name }}">
                {% else %}
                <img class="card-img-top"
                    src="https://img.pngio.com/box-icon-png-411372-free-icons-library-box-icon-png-981_948.jpg"
                    alt="item without photo">
                {% endif %}
                <div class="card-header"><a href="{% url 'inventory:item_detail' item.id %}">{{ item.name }}</a> </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% else %}
    <p>No items in inventory.</p>
    {% endif %}
</div>

<div class="container">
    <h2>Containers</h2>
    {% if container_list %}

    <div class="row">
        <div class="card-columns">
            {% for container in container_list %}
            <div class="card">
                {% if container.photo %}
                <img class="card-img-top" src="{{ container.photo.url }}" alt="{{ container.name }}">
                {% else %}
                <img class="card-img-top"
                    src="https://img.pngio.com/box-icon-png-411372-free-icons-library-box-icon-png-981_948.jpg"
                    alt="container without photo">
                {% endif %}
                <div class="card-header"><a href="{% url 'inventory:container_detail' container.id %}">{{ container.name }}</a> </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No containers in inventory.</p>
    {% endif %}
</div>
{% endblock %}