{% extends 'inventory/base.html' %}
{% block content %}

<div class="container">
    <h1>Home Inventory</h1>

    <a href="{% url 'inventory:new_item' %}">Create new item</a><br />
    <a href="{% url 'inventory:new_container' %}">Create new container</a>
</div>

<div class="container">
    <div class="row">
        <h2>Items</h2>
        {% include "inventory/components/item_list.html" %}
    </div>
    <div class="row">
        <h2>Containers</h2>
        {% include "inventory/components/container_list.html" %}
    </div>
</div>

{% endblock %}