{% extends 'inventory/base.html' %}
{% block content %}
<div class="container">
    <h2>Item: {{ item.name }}</h2>
    <img src="{{ item.photo.url }}" alt="{{ item.name }}" height="400">
    <h3>Stored in:</h3>
    {% if item.container %}
    <a href="{% url 'inventory:container_detail' item.container.id %}">
        <p>Container: {{ item.container.name }}</p>
        <img src="{{ item.container.photo.url }}" alt="{{ item.container.name }}" height="200">
    </a>

    {% else %}
    <p>Not in a container</p>
    {% endif %}
    <br />
    <br />
    <a href="{% url 'inventory:item_update' item.id %}">Edit item</a>
    <br />
    <a href="{% url 'inventory:index' %}">Home</a>
</div>
{% endblock %}