<div class="card">
    <div class="card-header" id="container-header-{{ container.pk }}">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse"
                data-target="#container-body-{{ container.pk }}" aria-expanded="true"
                aria-controls="container-body-{{ container.pk }}">
                <i class="fa" aria-hidden="true"></i>
                {% if container.photo %}
                <img src="{{ container.photo.url }}" alt="{{ container.name }}" height="100" />
                {% endif %}
                {{ container.name }}
            </button>
        </h5>
    </div>

    <div id="container-body-{{ container.pk }}" class="collapse" aria-labelledby="container-header-{{ container.pk }}">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <h3>Container:</h3>
                        {% include "inventory/components/container_card.html" %}
                    </div>

                    <div class="col-8">
                        <h3>Contents:</h3>
                        {% if container.stored_items.first or container.stored_containers.first %}

                        <h5>Items:</h5>
                        {% include "inventory/components/item_list.html" with item_list=container.stored_items.all %}
                        <h5>Containers:</h5>
                        {% for container in container.stored_containers.all %}
                        {% include "inventory/components/container_with_contents_card.html" %}
                        {% endfor %}
                        {% else %}
                        <p>No items in container</p>
                        {% endif %}
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>